<h2>Applications for <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h2>

<% if @pet.adopt_forms.count > 0 %>
  <%= content_tag :ul do %>
  <% @pet.adopt_forms.each do |form|%>
    <%= link_to "#{form.name}'s Application", "/adopt_forms/#{form.id}" %>
  <% end %>
<% end %>
<% else %>
  <p>There are no applications for <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %> at this time.</p>
<% end %>
